.best-seller{
    background-color: #121212;
    padding-block: 60px;
    &-container{
        max-width: 1500px;
        margin-inline: auto;
    }
    &__title{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        color: white;
    }
    &-items{
        min-height: 300px;
        margin-block-start: 20px;
    }
}