.product-cart{
    display: block;
    width: 95%;
    margin-inline: auto;
    img{
        width: 100%;
        aspect-ratio: 330/406;
    }
    a{
        text-decoration: none;
    }
    &__name, &__price{
        text-align: center;
        margin-block: 10px;
        color: white;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
    &__name{
        font-size: 18px;
        font-weight: 600;
    }
    &__price{
        margin-block-start: 0;
        font-size: 16px;
    }
    &__add-to-cart{
        width: 100%;
        border-radius: 100vmax;
        border: none;
        background-color: #7f58e6;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        padding-block: 8px;
        cursor: pointer;
    }
}